{% include '@psu-ooe/heading/heading.twig' with { content: 'Examples', level: 2 } only %}
{% set examples %}
  <label style="display: flex; align-items: center; gap: 1rem;"><input {% if type %}type="{{ type }}"{% endif %} /> {{ type|capitalize }}</label>
  <br>
  {% for variation in variations %}
    <label style="display: flex; align-items: center; gap: 1rem;"><input {% if type %}type="{{ type }}"{% endif %} {{ variation|join(' ') }} /> {{ type|capitalize }} ({{ variation|join(',') }})</label>
    <br>
  {% endfor %}
  <label style="display: flex; align-items: center; gap: 1rem;"><input {% if type %}type="{{ type }}"{% endif %} class="error" /> {{ type|capitalize }} (error state)</label>
{% endset %}
{{ examples }}
<br>
{% include '@psu-ooe/callout/callout.twig' with {
  background: 'blue-gradient',
  content: examples,
} only %}
